

/*Base Styling*/

*{
	box-sizing: border-box;
	align-items: center;
	font-family: cursive;
}

h1{
	text-align: center;
}

h2{
	border: 1px solid black;
	float: right;
	margin-bottom: 2px;
	margin-top: 0px;
	margin-left: 2px;
	margin-right: 0px;
}

#chicken{
	background: hotpink;
	border: solid black 1px;
	margin: 5px;
}

#beef{
	background: yellowgreen;
	border: solid black 1px;
	margin: 5px;
}

#sushi{
	background: skyblue;
	border: solid black 1px;
	margin: 5px;
}

p {
	padding: 10px
} 

/*Mobile*/
#chicken #beef #sushi {
	width: 100%;
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 991px){

  .col-md-6 {
    width: 45%;
    float: left;
  }

  .col-md-12 {
    width: 90%;
    clear: both;
  }
}

/*Desktop*/
@media (min-width: 992px) {
 .col-lg-4 {
 		height: fit-content;
    float: left;
    width: 30%;
 }
}
