

/*Base Styling*/

*{
	box-sizing: border-box;
	align-items: center;
}

h1{
	text-align: center;
}

#chicken{
	background: hotpink;
	border: solid black 1px;
	margin: 10px;
	padding: 10px;
}

#beef{
	background: yellowgreen;
	border: solid black 1px;
	margin: 10px;
	padding: 10px;
}

#sushi{
	background: skyblue;
	border: solid black 1px;
	margin: 10px;
	padding: 10px;
}

#chicken-header #beef-header #sushi-header{
	border: solid-black 1px;
}


/*Mobile*/
@media (max-width: 767px) {
	
}

/*Tablet*/
@media (min-width: 768) and (max-width: 991px){
	.col-md-6 .col-md-12{
		float: left;
	}

  .col-md-6 {
    width: 45%;
  }

  .col-md-12 {
    width: 90%;
  }
}

/*Desktop*/
@media (min-width: 992px) {
 .col-lg-4 {
    float: left;
 }
  .col-lg-4 {
    width: 30%;
  }
}
